.DS_Store

.env
.venv/
.claude/
.skills/

.pycache/
__pycache__/
*.py[cod]

.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/

build/
dist/
*.egg-info/

/config/
/agents.yaml
/runtime/
/memory/
/workspace/
